<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header" ng-switch="role.isNewRole">
		    <h3 ng-switch-when="true">Add a Role</h3>
			<h3 ng-switch-default>Edit Role: {{role.id}}</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-danger" ng-show="isValidationError">
				<p>There were validation errors. Please correct them and try again</p>
			</div>
			<div class="alert alert-danger" ng-show="isGenericError">
				<p>There was a problem communicating with the server. Please try again and if the problem persists contact your administrator.</p>
			</div>
			<form role="form" class="form-horizontal">
				<div class="form-group" ng-class="{'has-error': errors.id}">
					<label class="control-label col-lg-3">Name</label>
					<div class="col-lg-9">
						<div ng-switch="role.isNewRole">
							<input type="text" class="form-control" ng-model="role.id" ng-switch-when="true">
							<label class="form-control-static" ng-switch-default>{{role.id}}</label>
						</div>
						<div class="help-block" ng-show="errors.id">{{errors.id}}</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': errors.authorities}">
					<label class="control-label col-lg-3">Permissions</label>
					<div class="col-lg-9">
						<div class="checkbox" ng-repeat="a in authorities">
							<label>
								<input type="checkbox" ng-model="a.checked" ng-checked="a.checked"> {{a.name}}
							</label>
						</div>
						<div class="help-block" ng-show="errors.authorities">{{errors.authorities}}</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-primary" ng-click="ok()">OK</button>
		    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>