.filter-nav {

	&.off-canvas {
		background-color: $white;
		border: 1px solid $charcoalGrey;
		padding: 10px;
		position: absolute;
		right: 5px;
		top: 5px;
		z-index: 11;
		box-shadow: 0 0 12px #000000;

		.close-button {
			color: $mediumGrey;
			font-weight: bold;
		}
	}

	.filters-header {
		padding: 4px 4px 4px 10px;
		height: 100%;
		@include flexBox;
		@include flexAlignItems(center);
		color: $darkGrey;
	}

	.section-container {
		&.accordion {
				
			label {
				color: $darkGrey;
			}

	/* styles for section headings */
	/* adds padding and bg colour to section headings */
			section {
				&.active {
					.title {
						a {
							background-color: $lightGrey;

							&:hover {
								background-color: $lightMediumGrey;
							}
						}
					}
				}

			.title {
				border-bottom: 1px solid $mediumGrey;

				a {
						padding: 9px 14px 9px 9px;
						background-color: $lightGrey;

						&:hover {
							background-color: $lightMediumGrey;
							// color: $white;
						}

/* adds font colour to section heading */
					&.filter-heading {
						color: $darkGrey;

						a {
							color: $darkGrey;
						}
					}
				}
			}

/* styles for accordion content */
				.content {
					padding: 0px;
					background-color: $white;
					border-top: none;

/* filter-options = form elements in filters */
					.filter-options {
						padding: 9px;
					}

/* filter-selections = where filter pills are displayed */
					.filter-selections {
						padding: 9px;
						background-color: $white;
						border-top: 1px dotted $mediumGrey;
					}

/* filter-sub-selections = where sub-category filter options are displayed */
					.filter-issues-subcategory {
						padding: 0 9px;
						background-color: $white;
						border-bottom: 1px dotted $mediumGrey;

						label {
							color: $darkGrey;
						}
					}
				}
			}
		}
	}
}