.spinner-backdrop {
  position: fixed; //was absolute
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  z-index: 10; //was 20000000000
}

.spinner-position {
	position:fixed;
	top:50%;
	left:50%;
	z-index: 20000000000;
}