<div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns">
    <header>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <h1 class="left mr-20" translate="emessage.title"></h1>
                <span class="left">
				<a href="" class="button radius margin-reset" ng-click="showFilterModal()">{{'emessage.viewTrains' | translate}}</a></span>
            </div>
        </div>
    </header>

    <div class="row mt-15">
        <div class="small-12 medium-12 large-12 columns">
            <div class="emessage-chat">
                <div class="section-container tabs eurostar {{isGroup}}" data-section="tabs">
                    <section ng-class="{active: role == 'ALL'}" ng-if="eMessageTabs['ROLE_EMESSAGE']">
                        <p class="title">
                            <a href="" ng-click="changeTab('ALL')">{{'emessage.all' | translate}}</a></p>
                    </section>
                    <section ng-class="{active: role == 'CRE'}" ng-if="eMessageTabs['ROLE_EMESSAGE_CRE'] || eMessageTabs['ROLE_EMESSAGE']">
                        <p class="title"><a href="" ng-click="changeTab('CRE')">{{'emessage.cre' | translate}}</a></p>
                    </section>
                    <section ng-class="{active: role == 'OBSM'}" ng-if="eMessageTabs['ROLE_EMESSAGE_OBSM'] || eMessageTabs['ROLE_EMESSAGE']">
                        <p class="title"><a href="" ng-click="changeTab('OBSM')">{{'emessage.obsm' | translate}}</a></p>
                    </section>
                    <section ng-class="{active: role == 'ECC'}" ng-if="eMessageTabs['ROLE_EMESSAGE_ECC'] || eMessageTabs['ROLE_EMESSAGE']">
                        <p class="title"><a href="" ng-click="changeTab('ECC')">{{'emessage.ecc' | translate}}</a></p>
                    </section>
                </div>
                <div class="section-container tabs monument {{isGroup}}" data-section="tabs">
                    <section ng-class="{active: role == 'M_ALL'}">
                        <p class="title"><a href="" ng-click="changeTab('M_ALL')">{{'emessage.all' | translate}}</a></p>
                    </section>
                    <section ng-class="{active: role == 'MSLCD'}">
                        <p class="title"><a href="" ng-click="changeTab('MSLCD')">{{'emessage.m_mcd' | translate}}</a></p>
                    </section>
                    <section ng-class="{active: role == 'MNGMT'}">
                        <p class="title"><a href="" ng-click="changeTab('MNGMT')">{{'emessage.m_mng' | translate}}</a></p>
                    </section>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="small-12 medium-12 large-12 columns emessage-status-bar">
                            <span class="filter-tag" ng-show="options.date">
								<span class="left">{{ 'filter.tag.date' | translate}}: {{options.date}} <span ng-show="options.endDate && options.isPeriodEnabled">— {{options.endDate}}</span></span>
                            </span>
                            <span class="filter-tag" ng-show="options.trains" ng-repeat="t in options.trains">
								<span class="left">{{'filter.title.trainNumber' | translate}}: {{t}}</span>
                            <a href="" ng-click="removeSelectedFilter('trains', t)" class="right close"><i class="fa fa-times-circle"></i></a>
                            </span>
                            <span class="filter-tag" ng-show="options.halfSets" ng-repeat="hs in options.halfSets">
								<span class="left">{{'filter.title.halfSetNumber' | translate}}: {{hs}}</span>
                            <a href="" ng-click="removeSelectedFilter('halfSets', hs)" class="right close"><i class="fa fa-times-circle"></i></a>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-12 large-12 columns emessage-chat-panel">
                            <div class="individual-emessage" ng-repeat="m in messages track by $index">
                                <div class="row user-details">
                                    <div class="small-12 columns">
                                        <div class="small-7 columns"><span ng-repeat="t in m.trainNumber">{{t}}{{$last ? '' : ', '}}</span> - {{m.senderName}} {{m.senderRole ? '-': ''}} {{m.senderRole}}{{ m.role ? '(' + m.role + ')' : ''}}<span ng-if="m.halfSets.length">; Half Set(s): </span>
                                            <span ng-repeat="hs in m.halfSets">{{hs}}{{$last ? '' : ', '}}</span>
                                        </div>
                                        <div class="small-5 columns">
                                            <div class="message-controls" ng-if="hasPermission('ROLE_UPDATE_EMESSAGE')">
                                                <a href="" ng-click="openEditMessageObjectiveModal(m)" class="button radius small margin-reset">
                                                    <i class="fa fa-pencil hide-for-small"></i> {{'trainObjectives.editTrainObjective' | translate}}</a>
                                                <a href="" ng-click="removeMessageObjective(m)" class="button radius small margin-reset">
                                                    <i class="fa fa-times hide-for-small"></i> {{'trainObjectives.deleteTrainObjective' | translate}}</a>
                                            </div>
                                            <span class="created-date">{{m.createDate | date:'dd-MM-yyyy HH:mm'}}</span>
                                        </div>
                                    </div>
                                    <div class="small-12 columns message-details margin-top-10"><span>Date: {{m.startDate | date:'dd-MM-yyyy'}}</span><span ng-if="m.endDate"> — {{m.endDate | date:'dd-MM-yyyy'}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <pre>{{m.message}}</pre>
                                    </div>
                                </div>
                                <div class="row mt-15 flexbox-va">
                                    <div class="small-12 columns">
                                        <div class="small-9 columns message-details"><span ng-show="m.readBy">{{'emessage.seenBy' | translate}}: {{m.readBy}}</span></div>
                                        <div class="small-3 columns"><span class="right" ng-show="!m.read"><a href="" ng-click="markAsRead(m)">{{'emessage.markAsRead' | translate}}</a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flexbox-va emessage-box">
                        <div class="small-9 medium-10 large-10 columns">
                            <textarea id="emessage" type="text" ng-model="message" ng-keydown="postMessage($event)" placeholder="{{'emessage.messageBox.placeholder' | translate}}"></textarea>
                        </div>
                        <div class="send-block small-3 medium-2 large-2">
                            <div class="row" ng-if="role == 'ALL' || role === 'M_ALL'">
                                <input type="checkbox" id="send-all" ng-model="sendAll" ng-change="onChangeSendAll(sendAll)">
                                <label for="send-all" class="checkbox-label">{{'emessage.sendToAll' | translate}}</label>
                            </div>
                            <div class="row">
                                <a href="" class="button radius small right ml-8 emessage-send" ng-disabled="disabled" ng-click="postMessage()">{{'emessage.messageBox.send' | translate}}</a>
                            </div>
                            <div class="row right mt-15">
                                <label ng-if="showFilterError" class="error">{{'emessage.empty_trains' | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<!-- Start Create Objective lightbox -->
<div id="messageObjectivesModal" class="reveal-modal medium">
    <h2 class="modal-header">{{'emessage.messageModal.editMessage' | translate}}</h2>
    <form>
        <!-- Start Accordion -->
        <div class="section-container accordion">
            <!-- Start Train no. -->
            <section ng-class="{active : editView == 'date'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchEditView('date')" class="filter-heading" translate="filter.tag.date"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-4 medium-4 large-3 columns">
                            <label class="inline left" translate="filter.tag.period"></label>
                        </div>
                        <div class="small-8 medium-4 large-3 columns">
                            <input type="checkbox" class="margin-top-10" id="date-period" ng-model="messageObjectivesModal.isPeriodEnabled">
                        </div>
                        <div class="clearfix small-4 medium-4 large-3 columns">
                            <label ng-show="messageObjectivesModal.isPeriodEnabled" for="date-from" class="inline left" translate="filter.tag.dateFrom"></label>
                            <label ng-show="!messageObjectivesModal.isPeriodEnabled" for="date-from" class="inline left" translate="filter.tag.date"></label>
                        </div>
                        <div class="small-8 medium-8 large-9 columns">
                            <input type="text" id="date-from" ng-model="messageObjectivesModal.message.date" placeholder="{{'filter.date.placeholder' | translate}}" data-date-format="dd-mm-yyyy">
                        </div>
                        <div class="clearfix small-4 medium-4 large-3 columns" ng-show="messageObjectivesModal.isPeriodEnabled">
                            <label for="end-date" class="inline left" translate="filter.tag.dateTo"></label>
                        </div>
                        <div class="small-8 medium-8 large-9 columns" ng-show="messageObjectivesModal.isPeriodEnabled">
                            <input type="text" id="end-date" ng-model="messageObjectivesModal.message.endDate" placeholder="{{'filter.date.placeholder' | translate}}" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
            </section>
            <section ng-class="{active : editView == 'trains'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchEditView('trains');" class="filter-heading" translate="filter.title.trainNumber"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-11 medium-11 large-11 columns margin-bottom-16">
                            <input type="text" id="train-number" ng-model="trainNumberToAdd" placeholder="{{'filter.trainNumber.placeholder' | translate}}">
                        </div>
                        <div class="small-1 medium-1 large-1 columns">
                            <a href="" class="button radius right margin-reset" ng-click="addFilter('trainNumber', 'trainNumberToAdd', true)"><i class="fa fa-plus"></i> {{filter.button.add | translate}}</a>
                        </div>
                    </div>
                    <!-- Start display of selected filters -->
                    <div class="row filter-selections flexbox-va" ng-show="messageObjectivesModal.message.trainNumber">
                        <span class="filter-tag" ng-repeat="t in messageObjectivesModal.message.trainNumber">
								<span class="left">{{t}}</span>
                        <a href="" ng-click="removeFilter('trainNumber', t, true)" class="right close"><i class="fa fa-times-circle"></i></a>
                        </span>
                    </div>
                    <!-- End display of selected filters -->
                </div>
            </section>
            <section ng-class="{active : editView == 'halfSets'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchEditView('halfSets');" class="filter-heading" translate="filter.title.halfSetNumber"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-11 medium-11 large-11 columns margin-bottom-16">
                            <input type="text" id="half-set-number" ng-model="halfSetNumberToAdd" placeholder="{{'filter.halfSetNumber.placeholder' | translate}}">
                        </div>
                        <div class="small-1 medium-1 large-1 columns">
                            <a href="" class="button radius right margin-reset" ng-click="addFilter('halfSets', 'halfSetNumberToAdd', true)"><i class="fa fa-plus"></i> {{filter.button.add | translate}}</a>
                        </div>
                    </div>
                    <!-- Start display of selected filters -->
                    <div class="row filter-selections flexbox-va" ng-show="messageObjectivesModal.message.halfSets">
                        <span class="filter-tag" ng-repeat="hs in messageObjectivesModal.message.halfSets">
								<span class="left">{{hs}}</span>
                        <a href="" ng-click="removeFilter('halfSets', hs, true)" class="right close"><i class="fa fa-times-circle"></i></a>
                        </span>
                    </div>
                    <!-- End display of selected filters -->
                </div>
            </section>
            <section ng-class="{active : editView == 'message'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchEditView('message');" class="filter-heading" translate="filter.title.emessage"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-12 medium-12 large-12 columns">
                            <textarea id="editedEmessage" type="text" class="height-auto resize-vertical" ng-model="messageObjectivesModal.message.message" placeholder="{{'emessage.messageBox.placeholder' | translate}}" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End train no. -->
        </div>
        <div class="modal-action-buttons flexbox-h-end">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <span class="right"><a ng-disabled="disabled" href="" class="button cancel radius small left mr-8" translate="trainObjectives.modal.cancel" ng-click="cancelEditModal()"></a>
						<a ng-disabled="disabled" href="" class="button radius small margin-reset" translate="trainObjectives.modal.save" ng-click="editEmessage(messageObjectivesModal)"></a></span>
                </div>
            </div>
        </div>
    </form>
    <a class="close-reveal-modal" ng-click="cancelEditModal()">&#215;</a>
</div>
<!-- End Create Objective lightbox -->
<!-- filter modal -->
<div class="overlay" ng-show="showFilters"></div>
<div class="row" id="journey-filters" ng-show="showFilters">
    <div class="small-4 medium-3 large-2 columns filter-nav off-canvas">
        <!-- Start header -->
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <a href="" class="right close-button" ng-click="hideFilterModal()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="row flexbox-va">
            <div class="small-12 medium-12 large-12 columns">
                <header>
                    <h2 translate="emessage.viewTrains"></h2>
                </header>
            </div>
        </div>
        <!-- End header -->

        <!-- Start Accordion -->
        <div class="section-container accordion">
            <!-- Start Train no. -->
            <section ng-class="{active : filterView == 'date'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchFilterView('date')" class="filter-heading" translate="filter.tag.date"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-4 medium-4 large-3 columns">
                            <label class="inline left" translate="filter.tag.period"></label>
                        </div>
                        <div class="small-8 medium-4 large-3 columns">
                            <input type="checkbox" class="margin-top-10" id="date-period" ng-model="filters.isPeriodEnabled">
                        </div>
                        <div class="clearfix small-4 medium-4 large-3 columns">
                            <label ng-show="filters.isPeriodEnabled" for="date-from" class="inline left" translate="filter.tag.dateFrom"></label>
                            <label ng-show="!filters.isPeriodEnabled" for="date-from" class="inline left" translate="filter.tag.date"></label>
                        </div>
                        <div class="small-8 medium-8 large-9 columns">
                            <input type="text" id="date-from" ng-model="filters.date" placeholder="{{'filter.date.placeholder' | translate}}" data-date-format="dd-mm-yyyy">
                        </div>
                        <div class="clearfix small-4 medium-4 large-3 columns" ng-show="filters.isPeriodEnabled">
                            <label for="end-date" class="inline left" translate="filter.tag.dateTo"></label>
                        </div>
                        <div class="small-8 medium-8 large-9 columns" ng-show="filters.isPeriodEnabled">
                            <input type="text" id="end-date" ng-model="filters.endDate" placeholder="{{'filter.date.placeholder' | translate}}" data-date-format="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
            </section>
            <section ng-class="{active : filterView == 'trains'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchFilterView('trains');" class="filter-heading" translate="filter.title.trainNumber"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-9 medium-9 large-9 columns">
                            <input type="text" id="train-number" ng-model="trainNumberToAdd" placeholder="{{'filter.trainNumber.placeholder' | translate}}">
                        </div>
                        <div class="small-3 medium-3 large-3 columns">
                            <a href="" class="button radius right margin-reset" ng-click="addFilter('trains', 'trainNumberToAdd')"><i class="fa fa-plus"></i> {{filter.button.add | translate}}</a>
                        </div>
                    </div>
                    <!-- Start display of selected filters -->
                    <div class="row filter-selections flexbox-va" ng-show="filters.trains">
                        <span class="filter-tag" ng-repeat="t in filters.trains">
							<span class="left">{{t}}</span>
                        <a href="" ng-click="removeFilter('trains', t)" class="right close"><i class="fa fa-times-circle"></i></a>
                        </span>
                    </div>
                    <!-- End display of selected filters -->
                </div>
            </section>
            <section ng-class="{active : filterView == 'halfSets'}">
                <p class="title" data-section-title>
                    <a href="" ng-click="switchFilterView('halfSets');" class="filter-heading" translate="filter.title.halfSetNumber"></a>
                </p>
                <div class="content" data-section-content>
                    <div class="row filter-options">
                        <div class="small-9 medium-9 large-9 columns">
                            <input type="text" id="half-set-number" ng-model="halfSetNumberToAdd" placeholder="{{'filter.halfSetNumber.placeholder' | translate}}">
                        </div>
                        <div class="small-3 medium-3 large-3 columns">
                            <a href="" class="button radius right margin-reset" ng-click="addFilter('halfSets', 'halfSetNumberToAdd')"><i class="fa fa-plus"></i> {{filter.button.add | translate}}</a>
                        </div>
                    </div>
                    <!-- Start display of selected filters -->
                    <div class="row filter-selections flexbox-va" ng-show="filters.halfSets">
                        <span class="filter-tag" ng-repeat="hs in filters.halfSets">
							<span class="left">{{hs}}</span>
                        <a href="" ng-click="removeFilter('halfSets', hs)" class="right close"><i class="fa fa-times-circle"></i></a>
                        </span>
                    </div>
                    <!-- End display of selected filters -->
                </div>
            </section>
            <!-- End train no. -->
        </div>
        <!-- End Accordion -->
        <!-- Start Apply button -->
        <div class="row mt-15">
            <div class="small-12 medium-12 large-12 columns flexbox-h-end">
                <a href="" class="button radius right margin-reset" translate="filter.button.apply" ng-click="applyFilters()"></a>
            </div>
        </div>
        <!-- End Apply button -->
    </div>
</div>
