<div class="row">
	<div class="small-9 medium-9 large-9 columns small-centered medium-centered large-centered">
		<div class="panel">
			<header>
				<div class="row">
					<div class="small-12 medium-12 large-12 columns">
						<h1><i class="fa fa-exclamation-triangle"></i> Authorisation required!</h1>
					</div>
				</div>
			</header>
			<div class="row">
				<div class="small-12 medium-12 large-12 columns">
					You are not authorised to access this page.
				</div>
			</div>
		</div>
	</div>
</div>