<header>
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<h1 class="left mr-20" translate="faults.fleetControl.title"></h1>
			<span class="left"><a href="" class="button radius mr-8" ng-click="showFilterModal()"><i class="fa fa-filter"></i> {{'faults.fleetControl.filters' | translate}}</a>
			<a download href="{{exportUrl()}}" class="button radius margin-reset"><i class="fa fa-table"></i> {{'faults.fleetControl.export' | translate}}</a></span>
			</div>
		</div>
	</header>

	<!-- Start Filter tags -->
	<div class="row flexbox-va mt-15 ng-scope">
		<div class="small-12 medium-12 large-12 columns">
			<span class="filter-tag" ng-show="options.dateFrom">
				<span class="left">{{'filter.dateFrom' | translate}}: {{options.dateFrom}}</span>
				<a href="" ng-click="removeSelectedFilter('dateFrom')" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
			<span class="filter-tag" ng-show="options.dateTo">
				<span class="left">{{'filter.dateTo' | translate}}: {{options.dateTo}}</span>
				<a href="" ng-click="removeSelectedFilter('dateTo')" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
			<span class="filter-tag" ng-show="options.setNumbers" ng-repeat="t in options.setNumbers">
				<span class="left">{{'filter.title.setNumber' | translate}}: {{t}}</span>
				<a href="" ng-click="removeSelectedFilter('setNumbers', t)" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
			<span class="filter-tag" ng-show="options.status" ng-repeat="t in options.status">
				<span class="left">{{'filter.title.status' | translate}}: {{t}}</span>
				<a href="" ng-click="removeSelectedFilter('status', t)" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
			<span class="filter-tag" ng-show="options.equipment" ng-repeat="t in options.equipment">
				<span class="left">{{'filter.title.equipment' | translate}}: {{t}}</span>
				<a href="" ng-click="removeSelectedFilter('equipment', t)" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
			<span class="filter-tag" ng-show="options.priority" ng-repeat="t in options.priority">
				<span class="left">{{'filter.title.priority' | translate}}: {{t}}</span>
				<a href="" ng-click="removeSelectedFilter('priority', t)" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
            <span class="filter-tag" ng-show="options.severity.length" ng-repeat="t in options.severity">
				<span class="left" ng-if="t == 'DEPECHE'">{{'filter.title.depeche' | translate}}</span>
                <span class="left" ng-if="t == 'CARNET'">{{'filter.depeche.nodepeche' | translate}}</span>
				<a href="" ng-click="removeSelectedFilter('severity', t)" class="right close"><i class="fa fa-times-circle"></i></a>
			</span>
		</div>
	</div>
	<!-- End Filter tags -->

	<!-- Start Key -->
	<div class="row mt-15 flexbox-va">
		<div class="status-legend">
			<div><span class="left status depeche"></span> <span class="" translate="faults.status.depeche"></span></div>
		</div>
        <div class="status-legend">
            <div><span class="left status closed"></span> <span class="" translate="faults.status.closed"></span></div>
        </div>
	</div>
	<!-- End Key -->

	<div class="row mt-15">
		<div class="small-12 medium-12 large-12 columns">
			<div class="section-container tabs" data-section="tabs" ng-init="tab = tab == null ? 'ALL' : tab">
				<section ng-class="{active: tab == 'ALL'}">
					<p class="title"><a href="" ng-click="changeTab('ALL')">{{'faults.fleetControl.all.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'TMI'}">
					<p class="title"><a href="" ng-click="changeTab('TMI')">{{'faults.fleetControl.tmi.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'Le Landy'}">
					<p class="title"><a href="" ng-click="changeTab('Le Landy')">{{'faults.fleetControl.leLandy.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'Forest'}">
					<p class="title"><a href="" ng-click="changeTab('Forest')">{{'faults.fleetControl.forest.title' | translate}}</a></p>
				</section>
			</div>


			<div class="tabs">
				<div class="content">
                    <a ng-show="data.checked.length" ng-click="showAssignModal()" class="button radius margin-reset">({{data.checked.length}}) {{'faults.fleetControl.table.actions' | translate}}</a>
                    <!-- Start depot fleet control table -->
					<div class="faults-table mt-15">
						<table width="100%" ng-init="list()">
							<thead>
								<tr>
                                    <th ng-show="hasPermission('ROLE_FAULTS_WRITE')">
                                        <input type="checkbox" ng-model="checkedAll" ng-change="checkAll($event)" />
                                    </th>
									<th>
										<a ng-click="sort('date')">{{ "faults.fleetControl.table.dateReported" | translate }}</a>
										<i ng-show="options.sort == 'date' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'date' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('assignmentStatus')" translate="faults.fleetControl.table.status"></a>
										<i ng-show="options.sort == 'assignmentStatus' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'assignmentStatus' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('halfSet')" translate="faults.fleetControl.table.setNumber"></a>
										<i ng-show="options.sort == 'halfSet' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'halfSet' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
                                    <th>
                                        <a ng-click="sort('trainNumber')" translate="faults.fleetControl.table.trainNumber"></a>
                                        <i ng-show="options.sort == 'trainNumber' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
                                        <i ng-show="options.sort == 'trainNumber' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
                                    </th>
                                    <th>
                                        <a ng-click="sort('tmName')" translate="faults.fleetControl.table.tmName"></a>
                                        <i ng-show="options.sort == 'tmName' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
                                        <i ng-show="options.sort == 'tmName' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
                                    </th>
                                    <th>
										<a ng-click="sort('coach')" translate="faults.fleetControl.table.coachNumber"></a>
										<i ng-show="options.sort == 'coach' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'coach' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('area')" translate="faults.fleetControl.table.area"></a>
										<i ng-show="options.sort == 'area' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'area' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('equipment')" translate="faults.fleetControl.table.equipment_type"></a>
										<i ng-show="options.sort == 'area' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'area' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('equipmentCategory')" translate="faults.fleetControl.table.equipment"></a>
										<i ng-show="options.sort == 'equipmentCategory' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'equipmentCategory' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('condition')" translate="faults.fleetControl.table.condition"></a>
										<i ng-show="options.sort == 'condition' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'condition' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
										<a ng-click="sort('assignmentPriority')" translate="faults.fleetControl.table.priority"></a>
										<i ng-show="options.sort == 'assignmentPriority' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
										<i ng-show="options.sort == 'assignmentPriority' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
									</th>
									<th>
                                        <a ng-click="sort('photos')" translate="faults.fleetControl.table.attach"></a>
                                        <i ng-show="options.sort == 'photos' && options.direction == 'DESC'" class="fa fa-caret-down"></i>
                                        <i ng-show="options.sort == 'photos' && options.direction == 'ASC'" class="fa fa-caret-up"></i>
                                    </th>
								</tr>
							</thead>
							<tbody>

								<tr ng-repeat="f in results.content" no-show="{f.depeche}">
                                    <td ng-show="hasPermission('ROLE_FAULTS_WRITE')"><input type="checkbox" checklist-model="data.checked" checklist-value="f.id"/></td>
									<td><a href="#/fault-history/{{f.id}}" ng-show="f.id">{{f.date | date:['dd-MM-yyyy']}}</a></td>
									<td ng-class="{'priority-closed': f.assignmentStatus == 'CLOSED', 'priority-depeche': f.depeche}">{{f.assignmentStatus}}</td>
									<td>{{f.halfSet}}</td>
                                    <td>{{f.trainNumber}}</td>
                                    <td>{{f.tmName}}</td>
                                    <td>{{f.coach}}</td>
									<td>{{f.area}}</td>
									<td>{{f.equipment}}</td>
									<td>{{f.equipmentCategory}} &gt; {{f.equipmentSubcategory}}</td>
									<td>{{f.condition}}</td>
									<td>{{f.assignmentPriority}}</td>
                                    <td style="text-align: center">
										<img ng-if="f.photos" src="../img/attach_icon.png" alt="attach icon">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- End depot fleet control table -->
					<div pagination content="results" callback="changePage"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Start filter modal -->
	<div class="overlay" ng-show="showFilters"></div>
	<div class="row" id="journey-filters" ng-show="showFilters">
		<div class="small-4 medium-3 large-2 columns filter-nav off-canvas">
			<!-- Start header -->
			<div class="row">
				<div class="small-12 medium-12 large-12 columns">
					<a href="" class="right close-button" ng-click="hideFilterModal()"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="row flexbox-va">
				<div class="small-12 medium-12 large-12 columns">
					<header>
						<h2 translate="filter.title"></h2>
					</header>
				</div>
			</div>
			<!-- End header -->

			<!-- Start Accordion -->
			<div class="section-container accordion">
				<!-- Start Date Range -->
				<section ng-class="{active : filterView == 'dateFrom'}">
					<p class="title" data-section-title>
						<a href="" ng-click="switchFilterView('dateFrom')" class="filter-heading" translate="filter.title.dateRange"></a>
					</p>
					<div class="content" data-section-content>
						<div class="row filter-options">
							<div class="small-4 medium-4 large-3 columns">
								<label for="date-from" class="inline left" translate="filter.dateFrom"></label>
							</div>
							<div class="small-8 medium-8 large-9 columns">
								<input type="text" id="date-from" ng-model="filters.dateFrom" placeholder="{{'filter.dateFrom.placeholder' | translate}}" data-date-format="dd-mm-yyyy">
							</div>
						</div>
						<div class="row filter-options">
							<div class="small-4 medium-4 large-3 columns">
								<label for="date-to" class="inline left" translate="filter.dateTo"></label>
							</div>
							<div class="small-8 medium-8 large-9 columns">
								<input type="text" id="date-to" ng-model="filters.dateTo" placeholder="{{'filter.dateTo.placeholder' | translate}}" data-date-format="dd-mm-yyyy">
							</div>
						</div>
					</div>
				</section>
				<!-- End Date Range -->
				<!-- Start Set no. -->
				<section ng-class="{active : filterView == 'setNumber'}">
					<p class="title" data-section-title>
						<a href=""  ng-click="switchFilterView('setNumber')" class="filter-heading" translate="filter.title.setNumber"></a>
					</p>
					<div class="content" data-section-content>
						<div class="row flexbox-va filter-options">
							<div class="small-9 medium-9 large-9 columns">
								<input type="text" id="set-number-1" ng-model="setNumberToAdd" placeholder="{{'filter.setNumber.placeholder' | translate}}">
							</div>
							<div class="small-3 medium-3 large-3 columns">
								<a href="" class="button radius right margin-reset" ng-click="addFilter('setNumbers', 'setNumberToAdd')"><i class="fa fa-plus"></i> {{filter.button.add | translate}}</a>
							</div>
						</div>
						<!-- Start display of selected filters -->
						<div class="row filter-selections flexbox-va" ng-show="!!filters.setNumbers">
							<span class="filter-tag" ng-repeat="s in filters.setNumbers">
								<span class="left">{{s}}</span>
								<a href="" class="right close" ng-click="removeFilter('setNumbers', s)"><i class="fa fa-times-circle"></i></a>
							</span>
						</div>
						<!-- End display of selected filters -->
					</div>
				</section>
				<!-- End Set no. -->
				<!-- Start Status -->
				<section ng-class="{active : filterView == 'status'}">
					<p class="title" data-section-title>
						<a href="" ng-click="switchFilterView('status')" class="filter-heading" translate="filter.title.status"></a>
					</p>
					<div class="content" data-section-content>
						<!-- Start Statuc checkboxes -->
						<div class="row filter-options">
							<div class="small-3 columns">
								<div class="row">
									<div class="small-3 columns">
										<input type="checkbox" id="status-open" ng-model="filters.open">
									</div>
									<div class="small-9 columns">
										<label for="status-open" class="checkbox-label" translate="filter.status.open"></label>
									</div>
								</div>
							</div>
							<div class="small-5 columns">
								<div class="row">
									<div class="small-2 columns">
										<input type="checkbox" id="status-progress" ng-model="filters.inProgress">
									</div>
									<div class="small-10 columns">
										<label for="status-progress" class="checkbox-label" translate="filter.status.assigned"></label>
									</div>
								</div>
							</div>
							<div class="small-4 columns">
								<div class="row">
									<div class="small-3 columns">
										<input type="checkbox" id="status-closed" ng-model="filters.closedFault">
									</div>
									<div class="small-9 columns">
										<label for="status-closed" class="checkbox-label" translate="filter.status.closed">Closed</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Status -->
				<!-- Start Equipment Type -->
				<section ng-class="{active : filterView == 'equipment'}">
					<p class="title" data-section-title>
						<a href="" ng-click="switchFilterView('equipment')" class="filter-heading" translate="filter.title.equipment"></a>
					</p>
					<div class="content" data-section-content>
						<!-- Start Statuc checkboxes -->
						<div class="row filter-options">
							<div class="small-4 columns">
								<div class="row">
									<div class="small-3 columns">
										<input type="checkbox" id="equipment-tmst" ng-model="filters.tmst">
									</div>
									<div class="small-9 columns">
										<label for="equipment-tmst" class="checkbox-label" translate="filter.title.equipment.t"></label>
									</div>
								</div>
							</div>
							<div class="small-4 columns">
								<div class="row">
									<div class="small-3 columns">
										<input type="checkbox" id="equipment-e300" ng-model="filters.e300">
									</div>
									<div class="small-9 columns">
										<label for="equipment-e300" class="checkbox-label" translate="filter.title.equipment.e3"></label>
									</div>
								</div>
							</div>
							<div class="small-4 columns">
								<div class="row">
									<div class="small-3 columns">
										<input type="checkbox" id="equipment-e320" ng-model="filters.e320">
									</div>
									<div class="small-9 columns">
										<label for="equipment-e320" class="checkbox-label" translate="filter.title.equipment.e32"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Equipment Type -->
				<!-- Start Priority -->
				<section ng-class="{active : filterView == 'priority'}">
					<p class="title" data-section-title>
						<a href="" ng-click="switchFilterView('priority')" class="filter-heading" translate="filter.title.priority"></a>
					</p>
					<div class="content" data-section-content>
						<div class="row filter-options">
							<div class="small-4 medium-4 large-4 columns">
								<div class="row">
									<div class="small-2 medium-2 large-2 columns">
										<input type="checkbox" id="priority-high" ng-model="filters.high">
									</div>
									<div class="small-10 medium-10 large-10 columns">
										<label for="priority-high" class="checkbox-label" translate="filter.priority.high"></label>
									</div>
								</div>
							</div>
							<div class="small-4 medium-4 large-4 columns">
								<div class="row">
									<div class="small-2 medium-2 large-2 columns">
										<input type="checkbox" id="priority-medium" ng-model="filters.medium">
									</div>
									<div class="small-10 medium-10 large-10 columns">
										<label for="priority-medium" class="checkbox-label" translate="filter.priority.medium"></label>
									</div>
								</div>
							</div>
							<div class="small-4 medium-4 large-4 columns">
								<div class="row">
									<div class="small-2 medium-2 large-2 columns">
										<input type="checkbox" id="priority-low" ng-model="filters.low">
									</div>
									<div class="small-10 medium-10 large-10 columns">
										<label for="priority-low" class="checkbox-label" translate="filter.priority.low"></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Priority -->
                <!-- Start Depeche -->
                <section ng-class="{active : filterView == 'depeche'}">
                    <p class="title" data-section-title>
                        <a href="" ng-click="switchFilterView('depeche')" class="filter-heading" translate="filter.title.depeche"></a>
                    </p>
                    <div class="content" data-section-content>
                        <div class="row filter-options">
                            <div class="small-6 medium-6 large-6 columns">
                                <div class="row">
                                    <div class="small-2 medium-2 large-2 columns">
                                        <input type="checkbox" id="type-depeche" ng-model="filters.depeche">
                                    </div>
                                    <div class="small-10 medium-10 large-10 columns">
                                        <label for="type-depeche" class="checkbox-label" translate="filter.depeche.depeche"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="small-6 medium-6 large-6 columns">
                                <div class="row">
                                    <div class="small-2 medium-2 large-2 columns">
                                        <input type="checkbox" id="type-nodepeche" ng-model="filters.nodepeche">
                                    </div>
                                    <div class="small-10 medium-10 large-10 columns">
                                        <label for="type-nodepeche" class="checkbox-label" translate="filter.depeche.nodepeche"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Depeche -->
			</div>
			<!-- End Accordion -->
			<!-- Start Apply button -->
			<div class="row mt-15">
				<div class="small-12 medium-12 large-12 columns flexbox-h-end">
					<a href="" class="button radius right margin-reset" translate="filter.button.apply" ng-click="applyFilters()"></a>
				</div>
			</div>
			<!-- End Apply button -->
		</div>
	</div>
	<!-- End filter modal -->

    <!-- Start actions modal -->
    <div id="assignModal" class="reveal-modal medium">
        <h2 translate="faults.fleetControl.table.actions" class="modal-header"></h2>
        <div class="alert-box alert" ng-show="isGenericError" translate="admin.roles.modal.genericError">
        </div>
        <div class="section-container auto" data-section="tabs">
            <section class="active">
                <p class="title" data-section-title><a translate="faults.assignModal.title"></a></p>
                <div class="content" data-section-content>
                    <form class="custom">
                        <div class="row mt-15">
                            <div class="small-8 medium-6 large-4 columns">
                                <div class="row">
                                    <div class="small-4 medium-4 large-4 columns">
                                        <label class="inline" translate="faults.assignModal.assignedDepot"></label>
                                    </div>
                                    <div class="small-8 medium-8 large-8 columns">
                                        <label class="inline" ng-show="!hasPermission('ROLE_FAULTS_WRITE')">{{fault.assignedDepot}}</label>
                                        <div form-select select-values="depots" ng-model="assignModal.fault.assignedDepot"  ng-show="hasPermission('ROLE_FAULTS_WRITE')"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">-->
                            <!--<div class="small-8 medium-6 large-4 columns">-->
                                <!--<div class="row">-->
                                    <!--<div class="small-4 medium-4 large-4 columns">-->
                                        <!--<label class="inline" translate="faults.assignModal.priority"></label>-->
                                    <!--</div>-->
                                    <!--<div class="small-8 medium-8 large-8 columns">-->
                                        <!--<label class="inline" ng-show="!hasPermission('ROLE_FAULTS_WRITE')">{{fault.assignmentPriority}}</label>-->
                                        <!--<div form-select select-values="priority" ng-model="assignModal.fault.priority" ng-show="hasPermission('ROLE_FAULTS_WRITE')"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="small-8 medium-6 large-4 columns">-->
                                <!--<div class="row">-->
                                    <!--<div class="small-4 medium-4 large-4 columns">-->
                                        <!--<label class="inline" translate="faults.assignModal.status"></label>-->
                                    <!--</div>-->
                                    <!--<div class="small-8 medium-8 large-8 columns">-->
                                        <!--<label class="inline" ng-show="!hasPermission('ROLE_FAULTS_WRITE')">{{fault.assignmentStatus}}</label>-->
                                        <!--<div form-select select-values="status" ng-model="assignModal.fault.status" ng-show="hasPermission('ROLE_FAULTS_WRITE')"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
            </section>
        </div>

        <div class="modal-action-buttons flexbox-h-end">
            <div class="row">
                <div class="small-12 columns">
                    <span class="right"><a href="" class="button cancel radius small left mr-8" translate="faults.assignModal.cancel" ng-click="closeAssignModal()"></a>
                    <a href="" class="button radius small margin-reset" translate="faults.assignModal.save" ng-click="saveAssignDetails()"></a></span>
                </div>
            </div>
        </div>

        <a class="close-reveal-modal" ng-click="cancelModal()">&#215;</a>
    </div>
    <!-- End actions modal -->
