<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<a ng-href="#{{viewAll}}"><i class="fa fa-caret-left"></i> {{'issues.details.backLink' | translate}}</a>
	</div>
</div>

<!-- Start header -->
<!-- TODO: Needs to be dynamic -->
<header class="row mt-15 flexbox-va">
	<div class="small-12 medium-12 large-12 columns">
		<h1 ng-if="userGroup != 'MOMENTUM'" class="train-number">{{'issues.details.for.title' | translate}} <a href="#/view-journey/{{journey.id}}">{{issue.trainNumber}}</a> - {{issue.journeyDate | date:['dd MMM yyyy']}}</h1>
		<h1 ng-if="userGroup == 'MOMENTUM'" class="train-number">{{'issues.details.for.title' | translate}} <a href="#/view-journey-momentum/{{journey.id}}" ng-click="clearSavedJourneyFilter();">{{issue.trainNumber}}</a> - {{issue.journeyDate | date:['dd MMM yyyy']}}</h1>
	</div>
</header>
<!-- End header -->

<!-- Start Issue Details -->
<div class="issue-details mt-15">
	<!-- Start Issue category details section -->
	<div class="issue-category-details">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<header>
					<h2 class="issues-header" translate="issues.details.title"></h2>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<div class="row">
					<div class="small-12 medium-12 large-12 columns">{{'issues.details.category' | translate}}: {{issue.category}}</div>
				</div>
				<div class="row">
					<div class="small-12 medium-12 large-12 columns">{{'issues.details.subcategory' | translate}}: {{issue.subCategory}}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- End Issue category details section -->

	<!-- Start fault attachments -->
	<div class="issue-attachments mt-15">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<header>
					<h3 class="issues-header" translate="issues.details.attachments.title"></h3>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<ul class="no-bullet">
					<li ng-repeat="p in issue.photos">
						<a href="{{api}}/photos/{{p}}" target="_blank">
							<img ng-src="{{api}}/photos/{{p}}" width="150" />
						</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- End fault attachments -->

	<!-- Start Issue description section -->
	<div class="issue-description">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<header>
					<h2 class="issues-header" translate="issues.details.description"></h2>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				{{issue.description}}
			</div>
		</div>
	</div>
	<!-- End Issue description section -->

	<!-- Start Passenger Details section -->
	<div class="passenger-details">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<header>
					<h2 class="issues-header" translate="issues.details.passengerDetails"></h2>
				</header>
			</div>
		</div>

		<div class="row">
			<div class="small-12 columns">
				<ul class="large-block-grid-3">
					<!-- <li ng-repeat="i in issues.passenger"> -->
					<li ng-repeat="p in issue.passengers">
						<dl class="margin-reset">
							<dt class="issues-subheader mt-15"><i class="fa fa-user"></i> {{'issues.details.passengerDetails.pax' | translate}} {{$index + 1}} {{'issues.details.passengerDetails.details' | translate}}</dt>
							<dd class="margin-reset">{{'issues.details.passengerDetails.name' | translate}}: {{p.name}}</dd>
							<dd class="margin-reset">{{'issues.details.passengerDetails.pnr' | translate}}: {{p.pnr}}</dd>
							<dd class="margin-reset">{{'issues.details.passengerDetails.address' | translate}}: {{p.address}}</dd>
							<dd class="margin-reset">{{'issues.details.passengerDetails.email' | translate}}: {{p.email}}</dd>
							<dd class="margin-reset">{{'issues.details.passengerDetails.phone' | translate}}: {{p.contactNo}}</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Passenger Details section -->

	<!-- Start Reporting Train Manager section -->
	<div class="reporting-tm-details">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				<header>
					<h2 class="issues-header" translate="issues.details.tmDetails"></h2>
				</header>
			</div>
		</div>
		<div class="row" ng-show="journey.journeyLogs">
			<div class="small-9 medium-9 large-6 columns">{{role}}: {{user.name}}</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">{{'issues.details.dateReported' | translate}}: {{issue.created | date:['dd-MM-yyyy HH:mm']}}</div>
		</div>
	</div>
	<!-- End Reporting Train Manager section -->
</div>
<!-- End Issue Details -->	
