<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<a href="#/journeys"><i class="fa fa-caret-left"></i> {{'journeys.details.backLink' | translate}}</a>
	</div>
</div>

<header>
	<div class="row mt-15">
		<div class="small-12 medium-12 large-12 columns">
			<h1 class="left mr-20">{{'journeys.details.title' | translate}} - {{journey.trainNumber}}</h1>
		</div>
	</div>
	<div class="row flexbox-va mt-15">
		<div class="small-4 medium-7 large-2 columns">
			<h2 class="train-details">{{journey.journeyDate | date:['dd MMM yyyy']}}</h2>
		</div>
		<div class="small-3 medium-2 large-2 columns">
			<h2 class="train-details">{{journey.halfSets.firstHalfSet}} - {{journey.halfSets.lastHalfSet}}</h2>
		</div>
		<div class="small-3 medium-2 large-2 columns">
			<h2 class="train-details">{{journey.from}} - {{journey.to}}</h2>
		</div>
	</div>
</header>

<div class="row mt-15" ng-init="list()">
	<div class="small-12 medium-12 large-12 large-centered columns">
		<!-- Start Journey Log -->
		<div class="journey-log">
			<div class="section-container tabs" data-section="tabs" ng-init="tab = tab == null ? 'crew' : tab">
				<section ng-class="{active: tab == 'crew'}">
					<p class="title"><a href="" ng-click="changeTab('crew')">{{'journeys.details.crew.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'timings'}">
					<p class="title"><a href="" ng-click="changeTab('timings')">{{'journeys.details.trainTimings.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'pax'}">
					<p class="title"><a href="" ng-click="changeTab('pax')">{{'journeys.details.passengerTotals.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'additionalStaff'}">
					<p class="title"><a href="" ng-click="changeTab('additionalStaff')">{{'journeys.details.additionalStaff.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'objectives'}">
					<p class="title"><a href="" ng-click="changeTab('objectives')">{{'journeys.details.commercialFocus.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'issues'}">
					<p class="title"><a href="" ng-click="changeTab('issues')">{{'journeys.details.issues.title' | translate}}</a></p>
				</section>
				<section ng-class="{active: tab == 'trainPreparation'}">
					<p class="title"><a href="" ng-click="changeTab('trainPreparation')">{{'journeys.details.trainPreparation.title' | translate}}</a></p>
				</section>
			</div>
			<div class="tabs">
				<div class="content" ng-show="tab == 'crew'">
					<div class="jl-entry" ng-repeat="jl in journeyLogs">
						<header class="row">
							<div class="small-9 medium-10 large-4 columns">
								<h3 class="journey-logs-header">{{'journeys.details.entryBy.label' | translate}}: {{jl.role}} - {{jl.username}}</h3>
							</div>
							<div class="small-3 medium-2 large-8 columns">
								<h3 class="train-details">{{jl.startStation}} - {{jl.stopStation}}</h3>
							</div>
						</header>
						<div class="row">
							<div class="small-5 medium-5 large-5 columns">
								<div class="row">
									<div class="small-12 medium-12 large-12 columns">
										<summary><h4 class="journey-logs-subheader" translate="journeys.details.table.crew.crewList"></h4></summary>
										<table width="100%">
											<thead>
												<tr>
													<th translate="journeys.details.table.crew.role"></th>
													<th translate="journeys.details.table.crew.name"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="m in jl.crew" ng-if="m.role == 'TM1' || m.role == 'TM2' || m.role == 'DRIVER' || m.role == 'OTHER'">
													<td>{{m.role}}</td>
													<td>{{m.name}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="small-12 medium-12 large-12 columns">
										<summary><h4 class="journey-logs-subheader" translate="journeys.details.table.crew.momentumCrewCount"></h4></summary>
										<table width="100%">
											<thead>
												<tr>
													<th translate="journeys.details.table.crew.role"></th>
													<th translate="journeys.details.table.crew.bar1"></th>
													<th translate="journeys.details.table.crew.bar2"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td translate="journeys.details.table.crew.bar"></td>
													<td>{{jl.crewCount.bar1BarCount}}</td>
													<td>{{jl.crewCount.bar2BarCount}}</td>
												</tr>
												<tr>
													<td translate="journeys.details.table.crew.first"></td>
													<td>{{jl.crewCount.bar1FirstCount}}</td>
													<td>{{jl.crewCount.bar2FirstCount}}</td>
												</tr>
												<tr>
													<td translate="journeys.details.table.crew.safety"></td>
													<td>{{jl.crewCount.bar1SafetyCount}}</td>
													<td>{{jl.crewCount.bar2SafetyCount}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="small-6 medium-6 large-6 columns small-offset-1 medium-offset-1 large-offset-1">
								<summary><h4 class="journey-logs-subheader" translate="journeys.details.table.crew.momentumCrewList"></h4></summary>
								<table width="100%">
									<thead>
										<tr>
											<th translate="journeys.details.table.crew.role"></th>
											<th translate="journeys.details.table.crew.name"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="m in jl.crew" ng-if="m.role != 'TM1' && m.role != 'TM2' && m.role != 'DRIVER' && m.role != 'OTHER'">
											<td>{{m.role}}</td>
											<td>{{m.name}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="content" ng-show="tab == 'timings'">
					<div class="jl-entry"  ng-repeat="jl in journeyLogs">
						<header class="row">
							<div class="small-9 medium-10 large-4 columns">
								<h3 class="journey-logs-header">{{'journeys.details.entryBy.label' | translate}}: {{jl.role}} - {{jl.username}}</h3>
							</div>
							<div class="small-3 medium-2 large-8 columns">
								<h3 class="train-details">{{jl.startStation}} - {{jl.stopStation}}</h3>
							</div>
						</header>
						<table width="100%">
							<thead>
								<tr>
									<th translate="journeys.details.table.trainTimings.station"></th>
									<th translate="journeys.details.table.trainTimings.scheduledDeparture"></th>
									<th translate="journeys.details.table.trainTimings.actualDeparture"></th>
									<th translate="journeys.details.table.trainTimings.scheduledArrival"></th>
									<th translate="journeys.details.table.trainTimings.actualArrival"></th>
									<th translate="journeys.details.table.trainTimings.delayReason"></th>
									<th translate="journeys.details.table.trainTimings.comments"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s in jl.steps">
									<td>{{s.waypoint}}</td>
									<td>{{s.expectedDeparture | date:['HH:mm']}}</td>
									<td>{{s.actualDeparture | date:['HH:mm']}}</td>
									<td>{{s.expectedArrival | date:['HH:mm']}}</td>
									<td>{{s.actualArrival | date:['HH:mm']}}</td>
									<td>{{s.reason}}</td>
									<td>{{s.comment}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="content" ng-show="tab == 'pax'">
					<div class="jl-entry"  ng-repeat="jl in journeyLogs">
						<header class="row">
							<div class="small-9 medium-10 large-4 columns">
								<h3 class="journey-logs-header">{{'journeys.details.entryBy.label' | translate}}: {{jl.role}} - {{jl.username}}</h3>
							</div>
							<div class="small-3 medium-2 large-8 columns">
								<h3 class="train-details">{{jl.startStation}} - {{jl.stopStation}}</h3>
							</div>
						</header>
						<table width="100%">
							<thead>
								<tr>
									<th translate="journeys.details.table.passengerTotals.class"></th>
									<th translate="journeys.details.table.passengerTotals.newTotal"></th>
									<th translate="journeys.details.table.passengerTotals.upgradesNumber"></th>
									<th translate="journeys.details.table.passengerTotals.upgradeDetails"></th>
									<th translate="journeys.details.table.passengerTotals.comments"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td translate="journeys.details.table.passengerTotals.bp"></td>
									<td>{{jl.customerCount.bpCount}}</td>
									<td>{{jl.customerCount.bpUpgrades}}</td>
									<td translate="journeys.details.table.passengerTotals.bp.upgradeDetails"></td>
									<td>{{jl.customerCount.bpComments}}</td>
								</tr>
								<tr>
									<td translate="journeys.details.table.passengerTotals.sp"></td>
									<td>{{jl.customerCount.spCount}}</td>
									<td>{{jl.customerCount.spUpgrades}}</td>
									<td translate="journeys.details.table.passengerTotals.sp.upgradeDetails"></td>
									<td>{{jl.customerCount.spComments}}</td>
								</tr>
								<tr>
									<td translate="journeys.details.table.passengerTotals.std"></td>
									<td>{{jl.customerCount.stdCount}}</td>
									<td>{{jl.customerCount.stdUpgrades}}</td>
									<td translate="journeys.details.table.passengerTotals.std.upgradeDetails"></td>
									<td>{{jl.customerCount.stdComments}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="content" ng-show="tab == 'additionalStaff'">
					<div class="jl-entry" ng-repeat="jl in journeyLogs">
						<header class="row">
							<div class="small-9 medium-10 large-4 columns">
								<h3 class="journey-logs-header">{{'journeys.details.entryBy.label' | translate}}: {{jl.role}} - {{jl.username}}</h3>
							</div>
							<div class="small-3 medium-2 large-8 columns">
								<h3 class="train-details">{{jl.startStation}} - {{jl.stopStation}}</h3>
							</div>
						</header>
						<div class="row">
							<div class="small-5 medium-5 large-5 columns">
								<summary><h4 class="journey-logs-subheader" translate="journeys.details.table.additionalStaff.controlAuthorities"></h4></summary>
								<table width="100%">
									<thead>
										<tr>
											<th translate="journeys.details.table.additionalStaff.authority"></th>
											<th translate="journeys.details.table.additionalStaff.authorityCount"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td translate="journeys.details.table.additionalStaff.authority.paf"></td>
											<td>{{jl.otherStaffCount.pafCount}}</td>
										</tr>
										<tr>
											<td translate="journeys.details.table.additionalStaff.authority.hmi"></td>
											<td>{{jl.otherStaffCount.hmiCount}}</td>
										</tr>
										<tr>
											<td translate="journeys.details.table.additionalStaff.authority.customs"></td>
											<td>{{jl.otherStaffCount.customsCount}}</td>
										</tr>
										<tr>
											<td translate="journeys.details.table.additionalStaff.authority.douanes"></td>
											<td>{{jl.otherStaffCount.douanesCount}}</td>
										</tr>
										<tr>
											<td translate="journeys.details.table.additionalStaff.authority.btp"></td>
											<td>{{jl.otherStaffCount.btpCount}}</td>
										</tr>
										<tr>
											<td translate="journeys.details.table.additionalStaff.authority.specialBranch"></td>
											<td>{{jl.otherStaffCount.specialBranchCount}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="small-6 medium-6 large-6 columns small-offset-1 medium-offset-1 large-offset-1">
								<summary><h4 class="journey-logs-subheader" translate="journeys.details.table.additionalStaff.otherStaff"></h4></summary>
								<table width="100%">
									<thead>
										<tr>
											<th translate="journeys.details.table.additionalStaff.otherStaff.role"></th>
											<th translate="journeys.details.table.additionalStaff.otherStaff.count"></th>
											<th translate="journeys.details.table.additionalStaff.otherStaff.comment"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="o in jl.otherStaff">
											<td>{{o.type}}</td>
											<td>{{o.number}}</td>
											<td>{{o.comment}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="content" ng-show="tab == 'objectives'">
					<table width="100%">
						<thead>
							<tr>
								<th translate="trainObjectives.table.title"></th>
								<th translate="trainObjectives.table.text"></th>
								<th translate="trainObjectives.table.lang"></th>
								<th translate="trainObjectives.table.tm"></th>
								<th translate="trainObjectives.table.role"></th>
								<th translate="trainObjectives.table.comments"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="t in trainObjectives">
								<td width="15%">
									{{showTitle(t.scripts)}}
								</td>
								<td width="30%">
									{{showText(t.scripts)}}
								</td>
								<td>{{t.selectedLangCode}}</td>
								<td>{{users[t.createdBy].name}}</td>
								<td>{{journey.journeyLogs[users[t.createdBy].name].role}}</td>
								<td width="20%">{{t.comments}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="content" ng-show="tab == 'issues'">
					<div>
						<table width="100%">
							<thead>
								<tr>
									<th translate="issues.table.dateReported"></th>
									<th translate="issues.table.category"></th>
									<th translate="issues.table.subcategory"></th>
									<th translate="issues.table.passengerDetails"></th>
								</tr>
							</thead>
							<tbody>
								<!-- TODO: Needs to be dynamic -->
								<tr ng-repeat="i in issues">
									<td><a href="#/issues/{{i.id}}" ng-show="i.id">{{i.created | date:['dd-MM-yyyy HH:mm']}}</a></td>
									<td>{{i.category}}</td>
									<td>{{i.subCategory}}</td>
									<!-- FIXME: This hsould be a list of passengers -->
									<td>
										<ul class="no-bullet">
											<li ng-repeat="p in i.passengers">{{p.name}}</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="content" ng-show="tab == 'trainPreparation'">
					<div class="row">
							<div class="small-8 medium-8 large-8 columns">
									<h3 class="journey-logs-header">{{'trainPreparation.table.preparationBy' | translate}}: {{trainPreparation.user || '—'}}</h3>
							</div>
					</div>
					<div class="row">
							<div class="small-10 medium-10 large-10 columns">
									<h3 class="journey-logs-header">{{'trainPreparation.table.comment' | translate}}: {{trainPreparation.comment || '—'}}</h3>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Journey Log -->
</div>