<div class="row back-meal">
	<div class="small-12 medium-12 large-12 columns">
		<a ng-href="#{{viewAll}}"><i class="fa fa-caret-left"></i> View All Boarding/Meal Reports</a>
	</div>
</div>
<div class="boarding-title" ng-class="{euro : userGroup != 'MOMENTUM'}">
    <div>Rake</div>
    <div>Class</div>
    <div>Coach No</div>
    <div>Boarded on Origin station</div>
    <div ng-if="userGroup == 'MOMENTUM'">Joiners</div>
	<div ng-if="userGroup == 'MOMENTUM'">Total by Coach</div>
    <div>Total by Class</div>
    <div>Total by Rake</div>
    <div ng-if="userGroup == 'MOMENTUM'">Total</div>
</div>
<div class="boarding" ng-class="{euro : userGroup != 'MOMENTUM'}">
    <div class="set">
        <div class="first">
            <div class="fist-name">First Rake</div>
			<div class='info'>
				<div ng-repeat='f in bordingData.firsthalf.bp'>
					<div>
						{{f.coachType}}
					</div>
					<div>
						{{f.coachNumber}}
					</div>
					<div>
						{{f.boarded}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.joiners}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.boarded + f.joiners}}
					</div>
					<div ng-if='$index == 0 && $last && !bordingData.firsthalf.sp.length ||
					$index == 0 && !$last
					' style='border-bottom: 1px solid transparent;'>
						{{bordingData.firsthalf.bpTotal}}
					</div>
					<div ng-if='$index == 0 && $last && bordingData.firsthalf.sp.length'>
						{{bordingData.firsthalf.bpTotal}}
					</div>
					<div ng-if='$index != 0 && bordingData.firsthalf.sp.length && $last' style='color:transparent'>
						-
					</div>
					<div ng-if='$index != 0 && !bordingData.firsthalf.sp.length && $last ||
					$index != 0 && bordingData.firsthalf.sp.length && !$last ||
					$index != 0 && !bordingData.firsthalf.sp.length && !$last' 
					style='border-bottom: 1px solid transparent;color:transparent'>
						-
					</div>
				</div>
				<div ng-repeat='f in bordingData.firsthalf.sp'>
					<div>
						{{f.coachType}}
					</div>
					<div>
						{{f.coachNumber}}
					</div>
					<div>
						{{f.boarded}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.joiners}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.boarded + f.joiners}}
					</div>
					<div ng-if='$index == 0' style='border-bottom: 1px solid transparent;'>
					{{bordingData.firsthalf.spTotal}}
					</div>
					<div ng-if='$index != 0' style='border-bottom: 1px solid transparent;color:transparent'>
					- 
					</div>
				</div>
			</div>
            <div class='total-info'>
				{{bordingData.firsthalf.total}}
			</div>
        </div>
		<div class="last">
            <div class="fist-name">Second Rake</div>
            <div class='info'>
				<div ng-repeat='f in bordingData.lasthalf.bp'>
					<div>
						{{f.coachType}}
					</div>
					<div>
						{{f.coachNumber}}
					</div>
					<div>
						{{f.boarded}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.joiners}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.boarded + f.joiners}}
					</div>
					<div ng-if='$index == 0 && $last && !bordingData.lasthalf.sp.length ||
					$index == 0 && !$last
					' style='border-bottom: 1px solid transparent;'>
						{{bordingData.lasthalf.bpTotal}}
					</div>
					<div ng-if='$index == 0 && $last && bordingData.lasthalf.sp.length'>
						{{bordingData.lasthalf.bpTotal}}
					</div>
					<div ng-if='$index != 0 && bordingData.lasthalf.sp.length && $last' style='color:transparent'>
						-
					</div>
					<div ng-if='$index != 0 && !bordingData.lasthalf.sp.length && $last ||
					$index != 0 && bordingData.lasthalf.sp.length && !$last ||
					$index != 0 && !bordingData.lasthalf.sp.length && !$last
					' style='border-bottom: 1px solid transparent;color:transparent'>
						-
					</div>
				</div>
				<div ng-repeat='f in bordingData.lasthalf.sp'>
					<div>
						{{f.coachType}}
					</div>
					<div>
						{{f.coachNumber}}
					</div>
					<div>
						{{f.boarded}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.joiners}}
					</div>
					<div ng-if="userGroup == 'MOMENTUM'">
						{{f.boarded + f.joiners}}
					</div>
					<div ng-if='$index == 0' style='border-bottom: 1px solid transparent;'>
						{{bordingData.lasthalf.spTotal}}
					</div>
					<div ng-if='$index != 0' style='border-bottom: 1px solid transparent;color:transparent'>
					-
					</div>
				</div>
			</div>
            <div class='total-info'>
			{{bordingData.lasthalf.total}}
			</div>
        </div>
    </div>
	<div ng-if="userGroup == 'MOMENTUM'" class="boarding-total" >
			{{bordingData.total}}
	</div>
</div>
