<header>
	<div class="row mb-15">
		<div class="small-12 medium-12 large-12 columns">
			<h1 class="left mr-20" translate="admin.roles.title"></h1>
			<span class="left"><a href="" class="button radius small margin-reset" ng-click="newRole()"><i class="fa fa-plus"></i> <span>{{'admin.roles.addRole' | translate}}</span></a></span>
		</div>
	</div>
</header>
<div class="row">
	<div class="alert-box success" ng-show="roleAdded">{{"admin.roles.created" | translate}} {{roleAdded}}</div>
	<div class="alert-box success" ng-show="roleEdited">{{"admin.roles.updated" | translate}} {{roleEdited}}</div>
	<div class="alert-box warning" ng-show="roleRemoved">{{"admin.roles.removed" | translate}} {{roleRemoved}}</div>
</div>
<!-- Start roles table -->
<table width="100%" ng-init="list()" class="mt-15">
	<thead>
		<tr>
			<th translate="admin.roles.table.name"></th>
			<th translate="admin.roles.table.permissions"></th>
			<th translate="admin.users.table.edit"></th>
			<th translate="admin.users.table.disable"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="role in roles.results">
			<td>{{role.id}}</td>
			<td>
				<ul>
					<li ng-repeat="a in role.authorities">{{a}}</li>
				</ul>
			</td>
			<td>
				<a href="" class="button radius small margin-reset" ng-click="editRole(role)">
					<i class="fa fa-pencil hide-for-small"></i> {{'admin.roles.table.edit' | translate}}
				</a>
			</td>
			<td>
				<a href="" class="button radius small margin-reset" ng-click="removeRole(role)"><i class="fa fa-times hide-for-small"></i> {{'admin.roles.table.remove' | translate}}</a>
			</td>
		</tr>
	</tbody>
</table>
<!-- End roles table -->


<!-- Modal -->
<div id="roleModal" class="reveal-modal medium">
	<h2 ng-show="roleModal.isNewRole" translate="admin.roles.addRole" class="modal-header"></h2>
	<h2 ng-show="!roleModal.isNewRole" class="modal-header">{{'admin.roles.editRole' | translate}} {{roleModal.role.name}}</h2>
	<div class="alert-box alert" ng-show="isValidationError" translate="admin.roles.modal.validationError">
	</div>
	<div class="alert-box alert" ng-show="isGenericError" translate="admin.roles.modal.genericError">
	</div>
	<div class="section-container auto" data-section="tabs">
		<section class="active">
	      <p class="title" data-section-title><a translate="admin.roles.modal.details"></a></p>
	      <div class="content" data-section-content>
  	        <form class="custom">
  	  			<fieldset>
  	  				<legend translate="admin.users.model.details"></legend>
  					<div class="row">
  						<div class="small-12 medium-12 large-12 large-centered columns">
  							<div class="row collapse">
  								<div class="small-4 medium-2 large-1 columns">
  									<label for="role-name" class="inline" translate="admin.roles.modal.name"></label>
  								</div>
  								<div class="small-8 medium-10 large-11 columns" ng-class="{'error': roleModal.errors.id}">
  									<input id="role-name" type="text" placeholder="{{'admin.roles.modal.name.placeholder' | translate}}" ng-model="roleModal.role.id" ng-readonly="!roleModal.isNewRole">
									<small ng-show="roleModal.errors.id">{{roleModal.errors.id | translate}}</small>
  								</div>
  							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend translate="admin.roles.modal.permissions"></legend>
					<div class="row">
						<div class="small-12 medium-12 large-12 columns" ng-class="{'error': roleModal.errors.authorities}">
							<ul class="inline-list">
								<li ng-repeat="a in roleModal.authorities">
									<label>
										<input type="checkbox" ng-model="a.checked" ng-checked="a.checked"> {{a.name}}
									</label>
								</li>
							</ul>
							<small ng-show="roleModal.errors.authorities">{{roleModal.errors.authorities | translate}}</small>
						</div>
					</div>
				</fieldset>
			</form>
		  </div>
	    </section>
	</div>

	<div class="modal-action-buttons flexbox-h-end">
		<div class="row">
			<div class="small-12 columns">
				<span class="right"><a href="" class="button cancel radius small left mr-8" translate="admin.roles.modal.cancel" ng-click="cancelModal()"></a>
				<a href="" class="button radius small margin-reset" translate="admin.roles.modal.save" ng-click="saveRole()"></a></span>
			</div>
		</div>
	</div>

	<a class="close-reveal-modal" ng-click="cancelModal()">&#215;</a>
</div>