<header>
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<h1 class="left mr-20" translate="admin.users.title"></h1>
			<span class="left"><a href="" class="button radius small margin-reset" ng-click="newUser()"><i class="fa fa-plus"></i> {{'admin.users.addUser' | translate}}</a></span>
		</div>
	</div>
</header>

<div class="row">
	<div class="alert-box success" ng-show="userAdded">{{'admin.users.created' | translate}} {{userAdded}}</div>
	<div class="alert-box success" ng-show="userEdited">{{'admin.users.updated' | translate}} {{userEdited}}</div>
	<div class="alert-box success" ng-show="userDisabled">{{'admin.users.disabled' | translate}} {{userDisabled}}</div>
	<div class="alert-box success" ng-show="userEnabled">{{'admin.users.enabled' | translate}} {{userEnabled}}</div>
	<div class="alert-box success" ng-show="passwordReset">{{'admin.users.reset' | translate}} {{passwordReset}}</div>
</div>

<!-- Start admin users table -->
<div class="row mt-15">
	<div class="small-12 medium-12 large-12 columns journey-log-result-table">
		<table width="100%" ng-init="list()">
			<thead>
				<tr>
					<th translate="admin.users.table.userId"></th>
					<th translate="admin.users.table.name"></th>
					<th translate="admin.users.table.email"></th>
					<th translate="admin.users.table.roles"></th>
					<th translate="admin.users.table.status"></th>
					<th translate="admin.users.table.reset"></th>
					<th translate="admin.users.table.edit"></th>
					<th translate="admin.users.table.disable"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users.content">
					<td>{{user.username}}</td>
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>
						<ul>
							<li ng-repeat="r in user.roles">{{r}}</li>
						</ul>
					</td>
					<td>
						{{user.status | translate}}
					</td>
					<td><a href="" class="button radius small margin-reset" ng-click="generateNewPassword(user)">{{"admin.users.table.reset" | translate}}</a> </td>
					<td>
						<a href="" ng-click="editUser(user)" class="button radius small margin-reset">
							<i class="fa fa-pencil hide-for-small"></i> {{"admin.users.table.edit" | translate}}
						</a>
					</td>
					<td>
						<a href="" class="button radius small margin-reset" ng-click="disable(user)" ng-show="user.status != 'DISABLED'" translate="admin.users.table.disable"></a>
						<a href="" class="button radius small margin-reset" ng-click="enable(user)" ng-show="user.status == 'DISABLED'" translate="admin.users.table.enable"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Start pagination -->
	<div pagination content="users" callback="changePage"></div>
	<!-- End pagination -->
</div>
<!-- End admin users table -->

<div id="userModal" class="reveal-modal medium">
	<h2 ng-show="userModal.isNewUser" translate="admin.users.addUser" class="modal-header"></h2>
	<h2 ng-show="!userModal.isNewUser" class="modal-header">{{'admin.users.editUser' | translate}} {{userModal.user.username}}</h2>
<div class="alert-box alert" ng-show="isValidationError" translate="admin.users.modal.validationError">
</div>
<div class="alert-box alert" ng-show="isGenericError" translate="admin.users.modal.genericError">
</div>

	<div class="section-container tabs" data-section="tabs" ng-init="tab = tab == null ? 'details' : tab">
		<section ng-class="{'active' : tab == 'details'}">
			<p class="title"><a ng-click="tab = 'details'">{{'admin.users.model.details' | translate}}</a></p>
		</section>
		<section ng-show="!userModal.isNewUser" ng-class="{'active' : tab == 'announcements'}">
			<p class="title"><a href="" ng-click="tab = 'announcements'">{{'admin.users.modal.announcements' | translate}}</a></p>
		</section>
	</div>

	<div class="tabs">
		<div class="content" ng-show="tab == 'details'">
			<form class="custom">
				<fieldset>
					<legend translate="admin.users.model.details"></legend>
					<div class="alert-box alert" ng-show="userModal.isValidationError">
						<p translate="admin.users.modal.validationError"></p>
					</div>
					<div class="alert-box alert" ng-show="userModal.isGenericError">
						<p translate="admin.users.modal.genericError"></p>
					</div>
					<div class="row">
						<div class="small-12 medium-12 large-12 large-centered columns">
							<div class="row">
								<div class="small-4 medium-3 large-2 columns">
									<label for="user-id" class="inline" translate="admin.users.modal.userId"></label>
								</div>
								<div class="small-8 medium-9 large-10 columns" ng-class="{'error': userModal.errors.username}">
									<input id="user-id" type="text" placeholder="{{'admin.users.modal.userId.placeholder' | translate}}" ng-model="userModal.user.username">
									<small ng-show="userModal.errors.username">{{userModal.errors.username | translate}}</small>
								</div>
							</div>
							<div class="row">
								<div class="small-4 medium-3 large-2 columns">
									<label for="name" class="inline" translate="admin.users.modal.name"></label>
								</div>
								<div class="small-8 medium-9 large-10 columns" ng-class="{'error': userModal.errors.name}">
									<input id="name" type="text" placeholder="{{'admin.users.modal.name.placeholder' | translate}}" ng-model="userModal.user.name">
									<small ng-show="userModal.errors.name">{{userModal.errors.name | translate}}</small>
								</div>
							</div>
							<div class="row">
								<div class="small-4 medium-3 large-2 columns">
									<label for="email" class="inline" translate="admin.users.modal.email"></label>
								</div>
								<div class="small-8 medium-9 large-10 columns" ng-class="{'error': userModal.errors.email}">
									<input id="email" type="email" placeholder="{{'admin.users.modal.email.placeholder' | translate}}" ng-model="userModal.user.email">
									<small ng-show="userModal.errors.email">{{userModal.errors.email | translate}}</small>
								</div>
							</div>

							<div class="row collapse">
								<div class="small-4 medium-3 large-2 columns">
									<label for="base-location" class="inline" translate="admin.users.modal.baseLocation"></label>
								</div>
								<div class="small-8 medium-9 large-10 columns" ng-class="{'error': userModal.errors.baseLocation}">
									<div form-select select-values="baseLocations" ng-model="userModal.user.baseLocation"></div>
									<small ng-show="userModal.errors.baseLocation">{{userModal.errors.baseLocation | translate}}</small>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend translate="admin.users.modal.roles"></legend>
					<div class="row">
						<div class="small-12 medium-12 large-12 columns" ng-class="{'error': userModal.errors.roles}">
							<ul class="inline-list">
								<li ng-repeat="r in userModal.roles">
									<label>
										<input type="checkbox" ng-model="r.checked" ng-checked="r.checked"> {{r.name}}
									</label>
								</li>
							</ul>
							<small ng-show="userModal.errors.roles">{{userModal.errors.roles | translate}}</small>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

		<div class="content" ng-show="tab == 'announcements'">
			<div class="row" ng-repeat="a in userModal.announcements">
				<div class="user-announcement" ng-repeat="s in a.script">
					<div class="row">
						<div class="small-12 medium-12 large-12 columns">
							<h3 class="user-announcement-title">{{s.title}}</h3>
						</div>
					</div>
					<div class="row mt-15">
						<div class="small-12 medium-12 columns large-12 columns">
							{{s.script}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-action-buttons flexbox-h-end">
		<div class="row">
			<div class="small-12 columns">
				<span class="right"><a href="" class="button cancel radius small left mr-8" translate="admin.users.modal.cancel" ng-click="cancelModal()"></a>
					<a href="" class="button radius small margin-reset" translate="admin.users.modal.save" ng-click="saveUser()"></a></span>
				</div>
			</div>
		</div>

		<a class="close-reveal-modal" ng-click="cancelModal()">&#215;</a>
	</div>