/** Generic margin styles */

/* margin top: 15px */
.mt-15 {
	margin: 15px 0 0 0;
}

/* margin top: 25px */
.mt-25 {
	margin: 25px 0 0 0;
}

/* margin bottom: 15px */
.mb-15 {
	margin: 0 0 15px 0;
}

/* margin left: 8px */
.ml-8 {
	margin: 0 0 0 8px;
}

/* margin right: 8px */
.mr-8 {
	margin: 0 8px 0 0;
}

/* margin right: 20px */
.mr-20 {
	margin: 0 15px 0 0;
}

.margin-reset {
	margin: 0;
}

.clearit {
	clear: both;
}

/* Flexbox styles */

/* flexbox horizontal and vertical align */
.flexbox {
	height: 100%;
	@include flexBox;
	@include flexJustifyContent(center);
	@include flexAlignItems(center);
}

/* flexbox vertical align */
.flexbox-va {
	height: 100%;
	@include flexBox;
	@include flexAlignItems(center);
}

/* flexbox vertical align */
.flexbox-v-end {
	height: 100%;
	@include flexBox;
	@include flexAlignItems(flex-end);
	@include flexAlignItems(end); //for Safari
}

/* flexbox horizontal align to right */
.flexbox-h-end {
	height: 100%;
	@include flexBox;
	@include flexJustifyContent(flex-end);
	@include flexJustifyContent(end); //for Safari
}

/* flexbox horizontal space between */
.flexbox-h-space {
	height: 100%;
	@include flexBox;
	@include flexJustifyContent(space-between);
}

/* styles for linking SVG's */
a.svg {
  position: relative;
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.red {
	color: $red;
}