$ArialRegular: Arial, Helvetica, sans-serif;
/* override Foundation header style variable for header font weight */
$header-font-weight: normal;

$darkGrey: #5c5c5c;
$charcoalGrey: #868686;
$mediumGrey: #bcbcbc;
$lightGrey: #f2f2f2;
$lightMediumGrey: #e1e1e1;

$lightBlue: #00b1bb;
$turquoiseBlue: #23c0d2;

$offWhite: #f8f8ff;
$white: #ffffff;

$orange: #ff8232;
$green: #92bd43;
$lightGreen: #d5e5b7;
$lightTurquoise: #e0f6f7;
$red: #ff3746;
$status-depeche: #ff7b85;
$status-closed: #999;
$amber: #fbb500;